{% extends "base.html" %}

{% block content %}

<div class="container">
  <h1>Server side file picking</h1>
  <p>Pick a file:</p>
  <p>Either by clicking on the button or on the input field...</p>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="usr">File1 path:</label>
        <input type="text" class="form-control" id="file1" data-toggle="modal" data-target="#file_modal">
      </div>
      <button id="file1_button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#file_modal">Pick a file</button>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="usr">File2 path:</label>
        <input type="text" class="form-control" id="file2" data-toggle="modal" data-target="#file_modal">
      </div>
      <button id="file2_button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#file_modal">Pick a file</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h2>Lorem ipsum </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac commodo dolor. Aliquam eleifend tincidunt elit, eget aliquet elit cursus ut. Mauris feugiat augue nulla, ut hendrerit neque hendrerit et. Cum sociis natoque penatibus et magnis
        dis parturient montes, nascetur ridiculus mus. Donec efficitur condimentum leo. In elit lorem, lobortis nec dictum sed, feugiat eu eros. Sed imperdiet diam nec ornare pharetra. Nam feugiat metus dolor, et egestas nisl condimentum et. Donec facilisis
        sapien enim, vel aliquam ipsum bibendum ac. Integer venenatis malesuada augue, ultrices consequat leo suscipit eu. Curabitur lacinia leo viverra erat fermentum tristique. Suspendisse placerat nibh nec justo tempus eleifend. Nam nec dictum tellus.
        Aliquam a ipsum sit amet metus bibendum faucibus. Aenean laoreet porta feugiat.</p>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="file_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Pick a file</h4>
      </div>
      <div class="modal-body">
        <pre class="pre-scrollable">
          <div class="browser">
          </div>
        </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block body_end %}
<script type="text/javascript">
// keeps the selector to assign the selected file
var selector;
$(document).ready( function() {
        $('.browser').fileTree({
          script: '/app1/browser/',
          root : '/tmp',
            expandSpeed: 100,
            collapseSpeed: 100,
            multiFolder: false
        }, function(file) {
            $(selector).val(file);
            $('#file_modal').modal('hide');
        }).on('filetreeclicked', function(e, data)    { console.log(data); });
    });

  $('#file1_button, #file1').on('click', function(event) {
    //event.preventDefault(); // To prevent following the link (optional)
    selector = '#file1';
  });
  $('#file2_button, #file2').on('click', function(event) {
    //event.preventDefault(); // To prevent following the link (optional)
    selector = '#file2';
  });
</script>
{% endblock %}
